{
  "presets": [
    ["env", { 
      "targets": {"browsers": ["last 2 versions"]}},
      "modules": false,
      "debug": true,
    ],
    "stage-0",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-regenerator",
  ],
}